@using ticaretotomasyonu.Models.sınıflar
@model List<KargoTakip>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Kargo Takip </h2>
<br />
<table class="table table-striped">
    <tr>
        <th>AÇIKLAMA</th>
        <th>TARİH</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Aciklama</td>
            <td>@x.TarihZaman.ToShortDateString() </td>

        </tr>
    }
</table>

